{% extends "base.html" %}

{% block content %}
  <div class="car-detail">
    <div class="car-image">
      {% if object.photo %}
      <img src="{{ object.photo.url }}" alt="{{ object.model }} - {{ object.brand }}">
      {% else %}
      <span>Este carro nao tem foto</span>
      {% endif %}
    </div>

    <div class="car-details">
      <h2>{{ object.brand }} {{ object.model }}</h2>
      <p><strong>Ano de fabricação:</strong> {{ object.factory_year }}</p>
      <p><strong>Ano do modelo:</strong> {{ object.model_year }}</p>
      <p><strong>Placa:</strong> {{ object.plate }}</p>
      <p><strong>Preço:</strong> R$ {{ object.value }}</p>
      <hr>
      {% if object.bio %}
      <p><strong>Biografia:</strong> {{ object.bio }}</p>
      {% endif %}
    </div>
  </div>

  {% if user.is_authenticated %}
    <div class="btns-container">
        <a href="{% url 'car_update' pk=object.pk %}" class="btn">Editar</a>
        <a href="{% url 'car_delete' pk=object.pk %}" class="btn danger">Deletar</a>
    </div> 
  {% endif %}

{% endblock %}
