.car-detail{
    display: flex;
    gap: 20px;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.car-image{
    width: auto;
}

.car-image img{
    width: 100%;
    border-radius: 10px;
}

.car-datails{
    width: 100%;
}

hr{
    margin: 20px 0px;
}

.btns-container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns-container a{
    width: 30%;
    text-align: center;
}
