@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Fonts config */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #0096c7;
    --btn-hover: #006b8f;
    --font-color: #505050;
    --bg-trans: background-color 0.3s ease-in-out;
    --danger: rgb(184, 47, 47);
    --danger-hover: rgb(255, 46, 46);
}

h1,
h2,
h3,
p,
span{
    color: var(--font-color);
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    padding: 30px 10px;
    box-shadow: 0px 1px 10px 1px #ccc;
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .logo a{
    text-decoration: none;
    color: var(--font-color);
}

nav .links ul{
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
}


main{
    max-width: 900px;
    margin: 30px auto;
}

footer{
    padding: 50px 0px;
    background-color: #c7c7c7;
}


.footer-content{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* BUTTONS AND INPUTS */

.btn{
    text-decoration: none;
    background-color:var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--bg-trans);
}
.btn:hover{
    background-color: var(--btn-hover);
}

.danger{
    background-color: var(--danger);
}
.danger:hover{
    background-color: var(--danger-hover);
}

.signup{
    background-color: #606060;
}
.signup:hover{
    background-color: #404040;
    color: #fff;
    text-decoration: none;
}


button[type="submit"],
input[type="submit"],
.btn-login{
    text-decoration: none;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--bg-trans);
}

button[type="submit"]:hover,
input[type="submit"]:hover,
.btn-login:hover{
    background-color: var(--btn-hover);
}

input[type="text"],
input[type="password"],
select,
input[type="number"],
textarea {
    width: 100%;
    padding: 20px;
    font-size: 16px;
    border: 2px solid #e3e1e1;
    border-radius: 4px;
    margin-right: 10px;
    transition: var(--bg-trans);
}

textarea{
    font-family: "Roboto", sans-serif;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
input[type="number"]:focus,
textarea:focus{
    outline: none;
    border-color: var(--primary-color);
}

option{
    width: auto;
}

.search button{
    padding: 20px;
}

form div .input-sub{
    padding: 20px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
}

input[type="file"]{
    padding: 5px 10px;
    border-radius: 15px;
    border: 0;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/******* FORMS ********/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}

form div{
width: 100%;
}

form label{
color: var(--font-color);
padding: 10px 0px;
}

form .div-link{
text-align: end;
padding: 20px;
}

form a{
text-decoration: none;
color: var(--font-color);
transition: var(--bg-trans);
}

form a:hover{
text-decoration:underline;
color: #303030;
}



