{% extends "base.html" %}

{% block content %}

    <form class="login-form" method="post">
        {% csrf_token %}
            <div>
                <label>Usuário</label>
                {{ login_form.username }}
            </div>

            <div>
                <label>Senha</label>
                {{ login_form.password }}
            </div>

            <div>
                <input class="input-sub" type="submit" value="Entrar">
            </div>

            <div class="div-link">
                <a href="{% url 'register' %}">Ainda não tens uma conta? Clique para Criar conta</a>
            </div>
    </form>


{% endblock content %}