{% extends "base.html" %}

{% block content %}

    <form method="post">
        {% csrf_token %}
    
            <div class="form-group">
                {{ user_forms.username.errors }}
                <label>Nome de Usuario:</label>
                {{ user_form.username }}
            </div>

            <div class="form-group">
                {{ user_forms.password1.errors }}
                <label>Senha:</label>
                {{ user_form.password1 }}
            </div>

            <div class="form-group">
                {{ user_forms.password2.errors }}
                <label>Confirma Senha:</label>
                {{ user_form.password2 }}
            </div>

            <div class="form-group">
                <input type="submit" value="Castrar">
            </div>

    </form>
{% endblock content %}