<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <!-- Carregar o static -->
  {% load static %}
  <!-- Linkando o arquivo CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/cars_list.css' %}">
  <link rel="stylesheet" href="{% static 'css/car_detail.css' %}">
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <a href="{% url 'cars_list' %}"><h2>Carros</h2></a>
      </div>

      <div class="links">
        <ul>
          {% if user.is_authenticated %}
            <li> Olá, {{ user.username }}!</li>
            <li><a class="btn newcar" href="{% url 'new_car' %}">Cadastrar Carro</a></li> 
            <li><a class="btn signup" href="{% url 'logout' %}">Logout</a></li>
          {% else %} 
          <li><a class="btn signup" href="{% url 'register' %}">Cadastre-se</a></li>
          <li><a class="btn login" href="{% url 'login' %}">Login</a></li>          
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <div class="footer-content">
      <p>Todos direiros reservados a SETMulticars &copy; 2024 || Powered_by: @setprogramacao</p>
    </div>
  </footer>
</body>
</html>
